@include tablet{
  .iconos-nosotros{
    @include grid(3,2rem);
  }
}

.icono{

  text-align: center; // Para que este todo centrado los elementos dentro de la clase icono
  img{
    height: 10rem;
  }

  h3{
    text-transform: uppercase; //para que se vea en mayuscula
  }
}
