html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  line-height: 2;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.2rem;
}

p {
  font-size: 2rem;
}

.contenedor {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
}

.entrada-blog a {
  display: inline-block;
  background-color: #2196f3;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

/** CODIGO AQUI **/

@media (min-width: 768px) {
  .layout-shifter {
    display: flex;
    flex-direction: column-reverse;
    /* cambia la direccion del contenido abajo hacia arriba */
  }

  .contenido-principal{
    display: flex;  
    /* Al declarar el flex por defecto crea la caja flexible 
    y ordena los contenido de izq a derec como una caja o arreglo */
    justify-content: space-between;
  }

  .entrada-blog{
    flex: 0 0 calc(50% - 2rem);
  }

}

@media (min-width: 992px) {
  .layout-shifter {
    flex-direction: row;
    justify-content: space-between; /* Separacion a medias */
  }

  .contenido-principal {
    flex: 0 0 calc(66.6% - 2rem);
    flex-wrap: wrap; /* el contenido automaticamente sigue a la izq */
  }

  .sidebar {
    flex: 0 0 calc(33.3% - 2rem);
    order: 2; /* Order es el orden que le doy a la caja flexible, 
        es como un arreglo dandole el orden al contenido donde debe ir 
        . Si el valor del order es -1 va al principio, mientra 1,2,3,4,etc lo va
        mostrar al final*/
  }

  .entrada-blog{
    flex: 0 0 100%;
  }
}
